.body{
    background: rgb(251,86,7);
    background: linear-gradient(180deg, rgba(251,86,7,1) 0%, rgba(158,21,21,1) 100%);
    margin: 0;
    padding: 0;
    height: 150vh;
}

.navbar{
    background-color: rgba(255, 109, 41, 0.5);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.icon {
    display: block;
    justify-content: end;
}

.card {
    background: rgb(115,115,115);
    background: linear-gradient(0deg, rgba(115,115,115,0.5) 0%, rgba(184,181,181,0.5) 100%);
    font-family: "Julius Sans One", sans-serif;
    color: rgb(240, 240, 240);
    text-align: center;
    align-items: center;
    padding: 1%;

}

.card_title {
    font-size: 40px;
    margin-top: 20px;
}

.card_text {
    font-size: 26px;
    display: flex;
    text-align: center;
    padding: 1%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.large_input {
    width: 60px;
}

.row{
    margin-bottom: 38px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.entrarButton {
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(247, 247, 247);
    color: rgb(14, 14, 14);
    font-family: "Roboto", sans-serif;
    width: 130px;
    border-radius: 100px;
}